@using Microsoft.AspNet.Identity;
<div class="panel panel-default">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    <p> @Model.Content</p>
                    <small class="pull-right">@Model.Date</small>
                    @if (Model.User.UserName != null)
                    {<i>Comment written by: @Model.User.UserName</i>}
                </div>
                <div style="display: inline-block; float : left; margin-right: 15px">
                    @if (Model.UserId == User.Identity.GetUserId() || User.IsInRole("Admin"))
                    {
                        <a class="icofont-pencil-alt-1" href="/Comments/Edit/@Model.CommentId"></a>
                    }
                </div>
                <div style="display: inline-block; float : left">
                    @if (Model.UserId == User.Identity.GetUserId() || User.IsInRole("Admin"))
                    {<form method="post" action="/Comments/Delete/@Model.CommentId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="icofont-trash" style="border: none; background: transparent" type="submit"></button>
                        </form>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    </div>
